

h1 {
    margin: 15px 15px 15px 15px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;

}

#answerMsg{
    letter-spacing: 25px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: bold;
    padding: 15px 15px 15px 15px;
}


.stats{
    letter-spacing: 10px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 15px 15px 15px;
}

#game{
    margin: 0px 0px 0px 50px;
    padding: 15px 15px 15px 15px; 
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 40px;
}

.game-red{
    background-color: red;
    color: white;
}

.game-green{
    background-color: green;
    color: white;
}

#Wins{
    
    padding: 0px 0px 15px 0px; 
}

#Losses{
    padding: 0px 0px 15px 0px; 
}

#guessesLeft{
    padding: 0px 0px 15px 0px; 
}

#guessesSoFar{
    padding: 0px 0px 15px 0px; 
}


body {
   
    /* IMPORTANT you are in the CSS folder when the CSS is loaded.  You have to go back to the root directory to access the images folder */
    /*background-image: url("../images/dust_scratches.png");*/
}
